section.teams .section-heading {
  margin-bottom: 100px;
}
section.teams .section-heading h2 {
  margin-top: 0;
}
section.teams .section-heading p {
  margin-bottom: 0;
}

section.teams .device-container,
section.teams .feature-item {
  max-width: 325px;
  margin: 0 auto;
}

section.teams .device-container {
  margin-bottom: 100px;
}
@media (min-width: 992px) {
  section.teams .device-container {
    margin-bottom: 0;
  }
}

section.teams .feature-item {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
section.teams .feature-item h3 {
  font-size: 30px;
}
section.teams .feature-item i {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
  background: linear-gradient(to left, #7b4397, #dc2430);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
